In [2]:
import pandas as pd

In [4]:
# Load the CSV file
df = pd.read_csv(r'C:\Users\Asus\superstore_sales.csv')

In [5]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,01-01-2011,06-01-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,01-01-2011,08-01-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,01-01-2011,05-01-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,01-01-2011,05-01-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,01-01-2011,08-01-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [7]:
# Convert order_date to datetime
df['order_date'] = pd.to_datetime(df['order_date'], format='%d-%m-%Y')

# Create Month-Year column
df['Month-Year'] = df['order_date'].dt.to_period('M').astype(str)

# Optional: Sort by Order Date
df = df.sort_values('order_date')

In [8]:
monthly_sales = df.groupby('Month-Year')['sales'].sum().reset_index()

In [9]:
region_sales = df.groupby('region')['sales'].sum().reset_index()

In [10]:
category_sales = df.groupby('category')['sales'].sum().reset_index()

In [11]:
df.to_csv('cleaned_superstore_sales.csv', index=False)
monthly_sales.to_csv('monthly_sales.csv', index=False)
region_sales.to_csv('region_sales.csv', index=False)
category_sales.to_csv('category_sales.csv', index=False)

In [12]:
# Step 1: Convert 'order_date' to datetime and create 'Month-Year' column
df['order_date'] = pd.to_datetime(df['order_date'], format='%d-%m-%Y')

# Create Month-Year column
df['Month-Year'] = df['order_date'].dt.to_period('M').astype(str)

# Sort the DataFrame by 'order_date'
df = df.sort_values('order_date')

# Display the updated DataFrame
df[['order_date', 'Month-Year']].head()

  order_date Month-Year
0 2011-01-01    2011-01
1 2011-01-01    2011-01
2 2011-01-01    2011-01
3 2011-01-01    2011-01
4 2011-01-01    2011-01

In [13]:
# Export cleaned full dataset
df.to_csv('cleaned_superstore_sales.csv', index=False)

# Export visual-specific summaries
monthly_sales.to_csv('monthly_sales.csv', index=False)
region_sales.to_csv('region_sales.csv', index=False)
category_sales.to_csv('category_sales.csv', index=False)